<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="false">

    <property name="LOG_PATTERN" value="%m%n"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO" additivity="false"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>